@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #1e8ad7;
  --color-primary-dark: #3a404b;
  --color-fg-primary: #e0e0e0;
  --color-fg-secondary: #898989;
  --color-fg-tertiary: #323232;
  --color-bg-primary: #111111;
  --color-bg-secondary: #202020;
  --color-bg-main: #060606;

  --mobile-menu-height: calc(var(--spacing) * 24);
  --mobile-player-height: calc(var(--spacing) * 16);
}

@utility bg-* {
  background-color: color-mix(
    in srgb,
    --value(--color- *, color, [color]) calc(--modifier(integer) * 1%),
    transparent
  );
}

@utility text-* {
  color: color-mix(
    in srgb,
    --value(--color- *, color, [color]) calc(--modifier(integer) * 1%),
    transparent
  );
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
section,
article,
header,
footer,
nav,
main {
  font-family: var(--font-satoshi);
}
